# Latex files
*.ptc
*.upb
*.upa
*.log
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.out
*.run.xml
*.toc
*.nav
*.nlo
*.nls
*.snm
*.synctex*
*.idx
*.ilg
*.ind
*.maf
*.mtc*
*.tdo
*.vrb
*.mtc*
*.auxlock
*.pdf